@model List<WebApplication1.Models.Album>
@{
    ViewBag.記事者 = "Index";
    Layout = "/Views/Shared/Layout.cshtml";
}


<div class="container">
    <div>
        <h1>項目</h1>
    </div>
    <a href="~/Album">我的記事本</a>
    
</div>

